body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: black;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main {
  text-align: center;
}

a {
  color: white;
}

a.active {
  color: hotpink;
}
